<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
</head>
<body class="container">
    <div class="container">
        @RenderBody()
    </div>

    <div class="container">
        <div class="panel panel-primary">
            @Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-info" })
            @Html.ActionLink("Користувачі", "Index", "Admin", null, new { @class = "btn btn-info" })
            @Html.ActionLink("Ролі", "Index", "RoleAdmin", null, new { @class = "btn btn-info" })
        </div>
    </div>

        <style>
            .container {
                padding-top: 10px;
            }

            .validation-summary-errors {
                color: #f00;
            }
        </style>
</body>
</html>