@using Users.Models
@model IEnumerable<AppUser>

@{
    ViewBag.Title = "Користувачі";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        Облікові записи
    </div>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Ім'я</th>
            <th>Ім'я повне</th>
            <th>Email</th>
        </tr>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3" class="text-center">Немає жодного облікового запису </td>
            </tr>
        }
        else
        {
            foreach (AppUser user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                    @*<td>@user.FullName</td>*@  
                    <td>@user.Email</td>
                    <td>
                        @using (Html.BeginForm("Delete", "Admin", new { id = user.Id }))
                        {
                            @Html.ActionLink("Редагувати", "Edit", new { id = user.Id },
                            new { @class = "btn btn-primary btn-xs", style = "float: left; margin-right: 10px" })
                            <button class="btn btn-danger btn-xs" type="submit">Видалити</button>
                        }
                    </td>
                </tr>
            }
        }
    </table>
</div>
@Html.ActionLink("Створити", "Create", null, new { @class = "btn btn-primary" })