@using Users.Models
@model RoleEditModel
@{
    ViewBag.Title = "Редагувати роль";
}

<h2>Редагувати роль</h2>
@Html.ValidationSummary()
@using (Html.BeginForm())
{
    <input type="hidden" name="roleName" value="@Model.Role.Name" />
    <div class="panel panel-primary">
        <div class="panel-heading">Додати в роль <b>@Model.Role.Name</b></div>
        <table class="table table-striped">
            @if (Model.NonMembers.Count() == 0)
            {
                <tr>
                    <td colspan="2">Всі користувачі в ролі</td>
                </tr>
            }
            else
            {
                <tr>
                    <td>User ID</td>
                    <td>Додати в роль</td>
                </tr>
                foreach (AppUser user in Model.NonMembers)
                {
                    <tr>
                        <td>@user.UserName</td>
                        <td>
                            <input type="checkbox" name="IdsToAdd" value="@user.Id">
                        </td>
                    </tr>
                }
            }
        </table>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">Видалити з ролі <b>@Model.Role.Name</b></div>
        <table class="table table-striped">
            @if (Model.Members.Count() == 0)
            {
                <tr>
                    <td colspan="2">Немає користувачів в ролі</td>
                </tr>
            }
            else
            {
                <tr>
                    <td>User ID</td>
                    <td>Видалити з ролі</td>
                </tr>
                foreach (AppUser user in Model.Members)
                {
                    <tr>
                        <td>@user.UserName</td>
                        <td>
                            <input type="checkbox" name="IdsToDelete" value="@user.Id">
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
    <button type="submit" class="btn btn-primary">Зберегти</button>
    @Html.ActionLink("Отмена", "Index", null, new { @class = "btn btn-default" })
}